<!DOCTYPE html>
<html>
  <head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://wagtrung.github.io/store/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="./css/sidebar.css" />

    <!-- //web font -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header class="header-fixed">
      <div class="header-limiter">
        <h1>
          <a href="/">Company Name</a>
        </h1>

        <nav>
          <a href="/">Home</a>
          <a href="/blog">Blog</a>

          <%if(currentuser){%>
          <a href="/logout">Logout</a>
          <%} else{%>

          <a href="/login">Login</a>
          <a href="/signup">SignUp</a>
          <%}%>
        </nav>
      </div>
    </header>
  </body>
</html>
