<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col-3">
        <!-- category -->
        <nav class="category">
          <div class="ctghead">
            <h3><i class="ti-list"></i>Category</h3>
          </div>

          <ul class="ctgul">
            <li class="ctgli showed">
              <a href="/add/new/user" class="ctga">
                <i class="ti-user"></i>
                Add New User</a
              >
            </li>

            <li class="ctgli">
              <a href="#" class="ctga">
                <div class="ok"></div>
                <i class="ti-layout"></i>
                wagtrung withsub
                <i class="ti-angle-down down"></i>
              </a>

              <ul class="ctgulChild">
                <li class="ctgliChild">
                  <a href="" class="ctgaChild">Second item</a>
                </li>
                <li class="ctgliChild">
                  <a href="" class="ctgaChild"> Second item</a>
                </li>
                <li class="ctgliChild">
                  <a href="" class="ctgaChild"> Child item</a>
                </li>
              </ul>
            </li>

            <li class="ctgli">
              <a href="#" class="ctga">
                <i class="ti-comment"></i>
                wagtrung nosub</a
              >
            </li>

            <li class="ctgli">
              <a href="#" class="ctga">
                <i class="ti-write"></i>
                wagtrung withsub
                <i class="ti-angle-down down"></i>
              </a>
              <ul class="ctgulChild">
                <li class="ctgliChild">
                  <a href="" class="ctgaChild">wag</a>
                </li>
                <li class="ctgliChild">
                  <a href="" class="ctgaChild"> wag</a>
                </li>
                <li class="ctgliChild">
                  <a href="" class="ctgaChild"> wag</a>
                </li>
              </ul>
            </li>

            <li class="ctgli">
              <a href="#" class="ctga">
                <i class="ti-comment"></i>
                wagtrung nosub</a
              >
            </li>

            <li class="ctgli">
              <a href="#" class="ctga">
                <i class="ti-comment"></i>
                wagtrung nosub
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
