.container {
  padding: 30px 0px;
  width: 100%;
  background: rgb(245, 245, 245);
}
.category {
  font-size: 1.6rem;
  border-radius: 3px;
}
.ctghead {
  padding: 2px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.ctghead h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
}
.ctghead h3 i {
  font-size: 2.9rem;
  margin-right: 7px;
}

.ctgul {
  margin-top: 16px;
  padding: 0 0 16px 0;
}
.ctgulChild {
  margin: 0 0 0 30px;
  padding: 0 0 10px 0;
}

.ctgliChild {
  font-size: 1.2rem;
  display: block;
  position: relative;
  list-style: none;
  transition: 0.3s linear;
  /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */
}

.ctgli:hover {
  border-left: 4px solid;
  background: #d2ffe221;
  /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga,
.ctgaChild {
  width: 321%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #333;
  text-decoration: none;
  padding: 13px 40px 13px 34px;
  position: relative;
  right: 0;
  transition: right linear 0.3s;
}
.ctga i {
  margin-right: 10px;
}

.ctgaChild {
  font-size: 1.5rem;
  padding: 13px 13px 13px 36px;
}
.ctga:hover,
.ctgaChild:hover {
  /* right:-4px; */
  color: red;
}
.ctgaChild::before {
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent transparent var(--hove);
  border-width: 4px;
  content: "";
}
.down {
  position: absolute;
  font-size: 1.3rem;
  right: 10%;
  top: 50%;
  transform: translateY(-50%) rotate(360deg);
}
.ctgulChild {
  display: none;
}
.ctgli {
  display: block;
  position: relative;
  list-style: none;
  border-left: 4px solid transparent;
  transition: 0.3s linear;
  font-size: 1rem;
}
.showed {
  background: #d2ffe221;
  border-left: 4px solid !important;
}

.showed .ctga {
  color: red;
  font-weight: bold;
}

.showed .ctga i {
  font-weight: bold;
}
.down {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/*  base.css*/
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.grid {
  margin: 0 auto;
  max-width: 1280px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
}

.col-3 {
  padding: 0 12px 0 12px;
  width: calc((100% / 12) * 3);
}
